.parent {
    background-color: #101012;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.buttons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn {
    cursor: pointer !important;
    font-size: 1.35rem !important;
    padding: 18px !important;
    width: 8em !important;
    margin: 10px !important;
}

.btn.active {
    background-color: #30a46c !important;
    color: #010101 !important;
}
